# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
ehthumbs.db

# Editors / IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.project
.settings/
*.sublime-project
*.sublime-workspace

# Node (if a local static server is used)
node_modules/
npm-debug.log*
yarn-error.log*
